.kirk-button {
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	padding: 16px 24px;
	border: 1px solid transparent;
	border-radius: 48px;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	-webkit-text-decoration: none;
	text-decoration: none;
	cursor: pointer;
	font-family: inherit;
	min-height: 48px;
	min-width: 48px;
	max-width: 100%;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: max-width 500ms ease-in, background-color 200ms
		ease-in;
	transition: max-width 500ms ease-in, background-color 200ms ease-in;
}

.kirk-button.kirk-itemChoice {
	border-radius: 0;
	overflow: visible;
	width: 100%;
}

.kirk-button span {
	position: relative;
	display: inline-block;
	width: auto;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.kirk-button:hover, .kirk-button:focus, .kirk-button:active {
	-webkit-text-decoration: none;
	text-decoration: none;
	outline: 0;
}

.kirk-button-unstyled {
	background-color: transparent;
	border-radius: inherit;
	color: #E51C5C;
	padding: inherit;
	display: inherit;
	line-height: inherit;
	font-size: inherit;
	text-align: left;
	min-width: inherit;
	min-height: inherit;
}

.kirk-button[disabled] {
	opacity: .5;
	cursor: default;
}

.kirk-button-unstyled[disabled] {
	opacity: 1;
}

.kirk-button-primary {
	background-color: #E51C5C;
	color: #FFF;
}

.kirk-button-shadowed {
	border: 2px solid #FFF;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
	box-sizing: border-box;
}

.kirk-button-primary:hover, .kirk-button-primary:focus,
	.kirk-button-primary:active {
	background-color: #E51C5C;
}

.kirk-button-secondary {
	background-color: #FFF;
	border-color: #DDD;
	color: #E51C5C;
}

.kirk-button-secondary.kirk-button-shadowed {
	border: none;
}

.kirk-button-secondary:hover, .kirk-button-secondary:focus,
	.kirk-button-secondary:active {
	background-color: #DDD;
}

.kirk-button-loading {
	background-color: transparent;
	max-width: initial;
	border: 0;
}

.kirk-button-loading:hover, .kirk-button-loading:focus,
	.kirk-button-loading:active {
	background-color: transparent;
}

.kirk-button-loading[disabled] {
	opacity: 1;
}

.kirk-button-loading span {
	opacity: 0;
}

svg.kirk-button-loader {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -24px;
}

.kirk-button-checked {
	border: 0;
}

.kirk-button-checked[disabled] {
	opacity: 1;
}

.kirk-button-checked span {
	opacity: 0;
}

.kirk-button-warning {
	background-color: #F53F5B;
	color: #FFF;
}

.kirk-button-icon {
	display: inline-block;
	padding: 0;
	line-height: 0;
	width: 48px;
	height: 48px;
}

.kirk-button-icon span {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 48px;
	height: 48px;
}

.kirk-button-icon.kirk-button-shadowed span {
	width: calc(48px - 2px * 2);
	height: calc(48px - 2px * 2);
}

@media ( hover :none) , ( hover :on-demand) {
	.kirk-button-secondary:hover {
		background-color: #FFF;
	}
}
.kirk-topBar.jsx-1876601486 {
	position: relative;
	width: 100%;
	background-color: #FFF;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.kirk-topBar--fixed.jsx-1876601486 {
	position: fixed;
}

.kirk-topBar--bgTransparent.jsx-1876601486 {
	background-color: transparent;
}

.kirk-topBar--bgShadedTransparent.jsx-1876601486 {
	background-color: transparent;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0));
}

.kirk-topBar-left.jsx-1876601486, .kirk-topBar-right.jsx-1876601486 {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.kirk-topBar-left.jsx-1876601486 {
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.kirk-topBar-center.jsx-1876601486 {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.kirk-topBar-right.jsx-1876601486 {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.kirk-title {
	color: #054752;
	font-size: 30px;
	font-weight: 500;
	line-height: 1.06;
}
.kirk-textField.jsx-1923214227 {
	position: relative;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.kirk-textField-wrapper.jsx-1923214227 {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	box-sizing: border-box;
	color: #054752;
	background-color: #EDEDED;
	border-radius: 16px;
	border: solid 1px #EDEDED;
	box-shadow: none;
}

.kirk-textField.jsx-1923214227 input.jsx-1923214227,select.jsx-1923214227, .kirk-textField.jsx-1923214227 textarea.jsx-1923214227
	{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	border-radius: 16px;
	background-color: #EDEDED;
	color: #054752;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-size: 16px;
	line-height: 20px;
	width: 100%;
	caret-color: #E51C5C;
}

.kirk-textField.jsx-1923214227 textarea.jsx-1923214227 {
	padding: 16px;
}

.kirk-textField.jsx-1923214227 input.jsx-1923214227 {
	padding: 16px 0 16px 16px;
	/* margin-right: 48px; */
}

.kirk-textField.jsx-1923214227 input.jsx-1923214227:not (:first-child ),
	.kirk-textField.jsx-1923214227 textarea.jsx-1923214227:not (:first-child
	){
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding-left: 0;
}

.kirk-textField.jsx-1923214227 input.jsx-1923214227::-webkit-input-placeholder,
	.kirk-textField.jsx-1923214227 textarea.jsx-1923214227::-webkit-input-placeholder
	{
	color: #708C91;
}

.kirk-textField.jsx-1923214227 input.jsx-1923214227::-moz-placeholder,
	.kirk-textField.jsx-1923214227 textarea.jsx-1923214227::-moz-placeholder
	{
	color: #708C91;
}

.kirk-textField.jsx-1923214227 input.jsx-1923214227:-ms-input-placeholder,
	.kirk-textField.jsx-1923214227 textarea.jsx-1923214227:-ms-input-placeholder
	{
	color: #708C91;
}

.kirk-textField.jsx-1923214227 input.jsx-1923214227::placeholder,
	.kirk-textField.jsx-1923214227 textarea.jsx-1923214227::placeholder {
	color: #708C91;
}

.kirk-textField.jsx-1923214227 input.jsx-1923214227::-ms-clear {
	display: none;
}

.kirk-textField.jsx-1923214227 input[type="number"].jsx-1923214227::-webkit-outer-spin-button,
	.kirk-textField.jsx-1923214227 input[type="number"].jsx-1923214227::-webkit-inner-spin-button
	{
	-webkit-appearance: none;
}

.kirk-textField.jsx-1923214227 input[type="number"].jsx-1923214227 {
	-moz-appearance: textfield;
	-webkit-appearance: none;
}

.kirk-textField.jsx-1923214227 input[type="search"].jsx-1923214227 {
	width: 100%;
	box-sizing: border-box;
}

.kirk-textField.jsx-1923214227 input[type="number"].jsx-1923214227,
	.kirk-textField.jsx-1923214227 input[type="search"].jsx-1923214227 {
	box-shadow: none;
}

.kirk-textField.jsx-1923214227 textarea.jsx-1923214227 {
	min-height: 150px;
}

.kirk-textField.jsx-1923214227 input.jsx-1923214227:focus,
	.kirk-textField.jsx-1923214227 textarea.jsx-1923214227:focus {
	border-color: #EDEDED;
	box-shadow: none;
	outline: none;
}

.kirk-error.jsx-1923214227 .kirk-textField-wrapper.jsx-1923214227 {
	background: #FDD8DE;
	border: solid 1px #FDD8DE;
	-webkit-animation: textFieldError-jsx-1923214227 500ms ease-in-out;
	animation: textFieldError-jsx-1923214227 500ms ease-in-out;
}

.kirk-error.jsx-1923214227 input.jsx-1923214227, .kirk-error.jsx-1923214227 textarea.jsx-1923214227
	{
	background-color: #FDD8DE;
}

.kirk-error .kirk-error-message {
	color: #F53F5B;
	display: block;
	padding: 8px;
}

.kirk-textField.jsx-1923214227 label.jsx-1923214227 {
	color: #054752;
	padding: 0 8px 4px 8px;
}

.kirk-textField .kirk-button {
	background-color: transparent;
	color: #708C91;
	height: auto;
}

.kirk-textField .kirk-textField-button {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

.kirk-textField .kirk-textField-button[hidden] {
	visibility: hidden;
}

.kirk-disabled.jsx-1923214227 {
	opacity: .5;
	cursor: default;
}

@
-webkit-keyframes textFieldError-jsx-1923214227 { 20%{
	margin-left: -10px;
	margin-right: 10px;
}

40%{
margin-left
:
10px;margin-right
:
-10px;
}
60%{
margin-left
:
-5px;margin-right
:
5px;
}
80%{
margin-left
:
5px;margin-right
:
-5px;
}
100%{
margin-left
:
0px;margin-right
:
0px;
}
}
@
keyframes textFieldError-jsx-1923214227 { 20%{
	margin-left: -10px;
	margin-right: 10px;
}
40%{
margin-left
:
10px;margin-right
:
-10px;
}
60%{
margin-left
:
-5px;margin-right
:
5px;
}
80%{
margin-left
:
5px;margin-right
:
-5px;
}
100%{
margin-left
:
0px;margin-right
:
0px;
}
}
.kirk-checkbox.jsx-214393563 {
	padding: 16px 0;
	font-size: 18px;
	line-height: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-webkit-justify-content: start;
	-ms-flex-pack: start;
	justify-content: start;
	position: relative;
	color: #054752;
	cursor: pointer;
}

.kirk-checkbox.kirk-checkbox--labelDisplay-left.jsx-214393563 {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.kirk-checkbox.jsx-214393563 div.jsx-214393563 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.kirk-checkbox.jsx-214393563 div.jsx-214393563:first-child {
	padding-left: 0;
	padding-right: 16px;
}

.kirk-checkbox.kirk-checkbox--labelDisplay-left.jsx-214393563 div.jsx-214393563:first-child
	{
	padding-left: 16px;
	padding-right: 0;
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2;
}

.kirk-checkbox.kirk-checkbox--labelDisplay-none.jsx-214393563 div.jsx-214393563:first-child
	{
	padding-right: 0;
}

.kirk-checkbox.kirk-checkbox--labelDisplay-none.jsx-214393563 div.jsx-214393563:last-child
	{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;
	-webkit-clip: rect(1px, 1px, 1px, 1px);
	clip: rect(1px, 1px, 1px, 1px); -webkit-clip; clip; rect
	(1px,1px,1px,1px);
	overflow: hidden;
}

.kirk-subLabel.jsx-214393563 {
	color: #708C91;
	font-size: 16px;
	display: block;
	line-height: 20px;
}

input.jsx-214393563 {
	position: absolute;
	display: inline-block;
	width: 1em;
	height: 1em;
	margin: 0;
	padding: 0;
	opacity: 0;
}

input.jsx-214393563+span.jsx-214393563 {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 24px;
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
	border: 1px solid #E51C5C;
	background-color: #FFF;
}

input.jsx-214393563+.checked.jsx-214393563 {
	background-color: #E51C5C;
}

input.jsx-214393563+.checked.jsx-214393563::after {
	content: "";
	display: block;
	position: absolute;
	width: 10px;
	height: 6px;
	top: 6px;
	left: 6px;
	border-left: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
</style>



.pricingdiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

.pricingdiv ul.theplan{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: white;
  background: #E51C5C;
  position: relative;
  width: 250px; /* width of each table */
  margin-right: 10px; /* spacing between tables */
  margin-bottom: 1em;
  transition: all .5s;
}

.pricingdiv ul.theplan:hover{ /* when mouse hover over pricing table */
  transform: scale(1.05);
  transition: all .5s;
  z-index: 100;
  box-shadow: 0 0 10px gray;
}

.pricingdiv ul.theplan li{
  margin: 10px 20px;
  position: relative;
}

.pricingdiv ul.theplan li.title{
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  border-bottom: 5px solid white;
}

.pricingdiv ul.theplan:nth-of-type(2){
  background: #E51C5C;
}
    
.pricingdiv ul.theplan:nth-of-type(3){
  background: #E51C5C;
}

.pricingdiv ul.theplan:last-of-type{ /* remove right margin in very last table */
  margin: auto;
}

/*very last LI within each pricing UL */
.pricingdiv ul.theplan li:last-of-type{
  text-align: center;
  margin-top: auto; /*align last LI (price botton li) to the very bottom of UL */
}  

.pricingdiv a.pricebutton{
  background: white;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin: 10px auto;
  border-radius: 5px;
  color: navy;
  text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
  .pricingdiv ul.theplan{
    border-radius: 0;
    width: 100%;
    margin-right: 0;
  }
  
  .pricingdiv ul.theplan:hover{
    transform: none;
    box-shadow: none;
  }
  
  .pricingdiv a.pricebutton{
    display: block;
  }
}

.modal.and.carousel {
  position: fixed; // Needed because the carousel overrides the position property
}